@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

$kolor-tekstu: #111;
$szare-tlo: #ddd;
$niebieski: rgb(0, 130, 250);

body {
	padding-left: 10px;
	padding-right: 10px;
}

.body-content {
	color: $kolor-tekstu;
}

h1 {
	font-size: 24px;
	text-decoration: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: $kolor-tekstu;
}

h2 {
	font-size: 20px;
	text-decoration: bold;
	padding-bottom: 20px;
	padding-left: 10px;
	color: $kolor-tekstu;
}

.kolko {
	border-radius: 50%;
	background-color: $niebieski;
	width: 64px;
	height: 64px;
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 20px;
}

.kolko:hover {
	background-color: $niebieski;
	opacity: 1;
	scale: 1.1;
}

.okienko {
	width: 256px;
	height: 256px;
	position: sticky;
	left: calc(100vw - 345px);
	bottom: 32px;
	padding: 12px;
	background-color: #fff;
	border: 1px solid #aaa;
	color: $kolor-tekstu;
}

.zamknij {
	position: absolute;
	margin-left: 34px;
	margin-top: -8px;
	width: 32px;
	height: 32px;
	border-radius: 5px;
	background: $niebieski;
	border: none;
	color: #fff;
}

.zamknij:hover {
	cursor: pointer;
	opacity: 0.9;
}

.zawartosc {
	margin-top: 12px;
	display: flex;
	flex-wrap: wrap;
}

.wiadomosc {
	background: #eee;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	font-size: 13px;
	margin-left: 8px;
	margin-right: 8px;
	width: 180px;
}

.data {
	font-size: 10px;
	margin-left: 35px;
}

.chat {
	position: absolute;
	margin-top: 85px;
	margin-left: 0px;
	width: 200px;
	height: 30px;
	border-radius: 5px;
}

.wyslij {
	position: absolute;
	margin-top: 87px;
	margin-left: 210px;
	opacity: 0.7;
}

.wyslij:hover {
	cursor: pointer;
	opacity: 1;
}

.stopka {
	font-size: 11px;
	color: $kolor-tekstu;
	margin: auto auto;
	padding-top: 35px;
	padding-bottom: 30px;
	width: 275px;
}

.szukajka {
	display: flex;
	gap: 10px;
	width: 70%;
	margin: auto auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.column {
	transition: all 0.1s ease-in;
}

.column:hover {
	background: #eee;
	cursor: pointer;
	scale: 1.05;
}

@media only screen and (max-width: 1024px) {
	.mobilnemenu {
		display: block;
	}
	li {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media only screen and (min-width: 1025px) {
	.mobilnemenu {
		display: none;
	}
}
