@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.body-content {
	background-color: aqua;
}

.kolko {
	border-radius: 50%;
	background-color: #333;
	width: 92px;
	height: 92px;
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 4px;
	margin-bottom: 4px;
}

.kolko:hover {
	background-color: #ccc;
}

.kolko img {
	width: 64px;
	height: 64px;
	margin-left: 14px;
	margin-top: 14px;
}

.okienko {
	width: 256px;
	height: 128px;
	border: 5px solid;
	position: absolute;
	right: 92px;
	bottom: 92px;
	padding: 24px;
	background-color: #333;
	color: #fff;
}
